body, html {
    background-color: skyblue;
}

footer {
    display: flex;
    background-color: black;
    color: whitesmoke;
    justify-content: space-around;
    padding: 10px;
}

#hero {
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/hero.jpg");
    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
    width: 100%;
    height: 800px;
    position: relative;
}

#hero-text {
    color: white;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 4px 2px 3px #000000;
}

.topic {
    text-align: justify;
    padding: 25px 20% 5px 20%;
}

.topic h2 {
    text-align: left;
}

.grid-container {
    border-radius: 4px;
    border: 2px solid whitesmoke;
    flex-wrap: wrap;
    background-color: black;
    width: 300px;
    padding: 5px;
    display: grid;
    grid-template-columns: auto auto;
}
.grid-item {
    background-color: black;
    color: whitesmoke;
    text-align: left;
    padding: 0 5px;
}

