.navbar {
    border-radius: 0;
    background-color: black;
}

.navbar-toggler {
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #666666;
}

.navbar-toggler:hover {
    background: rgb(240, 240, 240)
}

.navbar-toggler:focus {
    outline: 0;
}

.navbar-toggler:hover {
    background-color: #666666;
    color: black;
}

.nav-item {
    border-radius: 4px;
    background-color: #333333;
    padding: 0 5px;
    transition: 0.5s;
}

.nav-item:hover {
    background-color: #666666;
}

@media (max-width: 47.9em) {
    body {
        background-color: green;
    }

    footer {
        flex-direction: column;
        margin: auto;
    }

    .grid-container {
        margin: 5px auto 10px auto;
    }

    .navbar .navbar-brand {
        float: none;
        display: inline-block;
    }

    .navbar .navbar-nav > .nav-item {
        float: none;
        margin-left: .1rem;
    }

    .navbar .navbar-nav {
        float: none !important;
    }

    .nav-item {
        width: 100%;
        text-align: left;
    }
}